.about {
  min-height: 100vh;
  position: relative;
}

.about .line-styling {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .line-styling .style-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.about .line-styling .style-line {
  width: 95%;
  height: 5px;
  border-radius: 10px;
}

.about-body {
  display: flex;
  flex-direction: column; /* Changed from row to column to stack content vertically */
  align-items: center;
  justify-content: flex-start; /* Align items at the top of the container */
  padding-top: 8rem;
  height: fit-content;
}

.about-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: fit-content;
  margin-bottom: 2rem; /* Adds space below the description */
}

.about-description > h2 {
  display: flex;
  margin-bottom: 40px;
  font-size: 3.5rem;
  font-family: var(--primaryFont);
  justify-content: space-between;
}

.about-description > p {
  display: block; /* Ensures the element behaves as a block element */
  font-size: 1.25rem;
  color: #e0d9d9;
  font-family: var(--primaryFont);
  text-align: justify; /* Justifies the text to spread across the container */
  line-height: 1.6; /* Optional: adjusts the line height for better readability */
}

.about-img {
  margin-top: 40px;
  pointer-events: none;
}

.about-img > img {
  width: 380px;
  flex: 0.5;
}

.skill--scroll {
  width: 100%; /* Ensures skill section takes full width */
  margin: 0 2rem; /* Optional: Adjust margins if necessary */
}

.skill--box {
  background: #FAFAFA;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  width: 160px;
  height: 160px;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  transition: 300ms ease-in-out;
}

.skill--box:hover {
  transform: scale(1.15);
}

.skill--box > img {
  height: 50px;
  pointer-events: none;
}

.skill--box h3 {
  font-family: Big Shoulders Text;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin-top: 1rem;
}

.marquee {
  padding: 3rem 0;
}

/* Media Queries */

@media (min-width: 992px) and (max-width: 1380px) {
  .about-description > h2 {
      font-size: 3.3rem;
      margin-bottom: 30px;
  }
  .about-description > p {
      font-size: 1.15rem;
  }
  .about-img > img {
      width: 300px;
  }
}

@media screen and (max-width: 992px) {
  .about .line-styling {
      top: 20px;
  }

  .about-body {
      padding-top: 2rem;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-evenly;
  }

  .about-description {
      flex: 0.6;
      box-sizing: border-box;
      padding: 20px;
  }

  .about-description > h2 {
      font-size: 3rem;
      margin-bottom: 20px;
  }

  .about-description > p {
      font-size: 1.1rem;
  }

  .about-img > img {
      width: 250px;
      flex: 0.4;
  }
}

@media screen and (max-width: 800px) {
  .about .line-styling .style-circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
  }
  .about-description > h2 {
      align-self: center;
  }
}

@media screen and (max-width: 600px) {
  .about .line-styling .style-circle {
      width: 5px;
      height: 5px;
      border-radius: 50%;
  }
  .about .line-styling .style-line {
      width: 93%;
      height: 3px;
      border-radius: 10px;
  }

  .about-description > h2 {
      font-size: 2.5rem;
  }

  .about-description > p {
      font-size: 0.95rem;
  }

  .about-img > img {
      width: 200px;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 60vh;
  padding: 2.5rem 2rem 2rem 2rem;
}

.skillsHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillsHeader h2 {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
}

.skillsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3.5rem;
  padding: 0 2rem;
}

.skill--scroll {
  width: 100%;
  margin: 0 2rem;
}

@media (min-width: 992px) and (max-width: 1380px) {
  .skills {
      padding: 2rem 1rem 1rem 1rem;
  }
  .skillsContainer {
      padding: 1.5rem;
      margin-top: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .skills {
      padding: 1rem;
      min-height: 100%;
  }
  .skillsContainer {
      padding: 1rem;
      margin: 1rem 0;
  }
  .skillsHeader h2 {
      font-size: 3.2rem;
  }
  .skill--box {
      width: 150px;
      height: 150px;
      margin: 1.2rem;
      padding: 2rem 1rem;
  }

  .skill--box > img {
      height: 45px;
  }

  .skill--box h3 {
      font-size: 20px;
      margin-top: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .skills {
      padding: 0.5rem;
  }
  .skillsContainer {
      padding: 0.5rem;
  }
  .skillsHeader h2 {
      font-size: 3rem;
  }

  .skill--scroll {
      width: 100%;
      margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .skill--box {
      width: 135px;
      height: 135px;
      margin: 1.2rem;
      padding: 2rem 1rem;
  }

  .skill--box > img {
      height: 40px;
  }

  .skillsHeader h2 {
      font-size: 2.5rem;
  }

  .skill--box h3 {
      font-size: 18px;
      margin-top: 1rem;
  }
}
